//- ================
//- Page Level
//- ================

extends ../../jade/template.jade

block page-variables
  - title = "Page Title"
  - var pageLink = "https://github.com/mimoduo/Stamp"

//- block header

//- block hero

//- block headline

//- block content

//- block footer
