/* ================
  Column Tools
================ */

.compartment {
  width: 600px;
}


/* ================
  Typography
================ */

/* Heading Styles */

.h1 {
  font-size: 26px;
  line-height: 30px;
}

.h2 {
  font-size: 22px;
  line-height: 26px;
}

/* Body Copy */

p {}

.body-copy {
  font-size: 14px;
}

.fine-print {
  font-size: 12px;
}


/* ================
  Colors
================ */

.bg-dark-gray {
  background: #333;
}

.dark-gray {
  color: #333;
}
