/* ================
  Small Screens
================ */

@media only screen and (max-width: 600px) {

  /* Column Tools */

  .compartment {
    width: 300px !important;
  }

  .stack-small {
    width: 100% !important;
  }

  /* Display Tools */

  .show-small {
    display: block !important;
    overflow: visible !important;
    max-height: initial !important;
  }

  .hide-small {
    display: none !important;
    overflow: hidden !important;
    max-height: 0 !important;
  }

}
