//- ================
//- Page Level
//- ================

extends ../../pug/template.pug

block page-variables
  - title = "Page Title"
  - var pageLink = "https://github.com/mimoduo/Stamp"

//- block hero

//- block headline

//- block content
