//- ================
//- Template Level
//- ================

include ../../global-jade/variables.jade
include ../../global-jade/mixins.jade
include ../jade/variables.jade
include ../jade/mixins.jade

block page-variables

doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  include ../../global-jade/head.jade
  body
    table(bgcolor="")
      tr
        td
          table.compartment(align="center")
            tr
              td
                block header
                  p Stamp Header
            tr
              td
                block hero
                  +a('https://github.com/mimoduo/Stamp')
                    +img('Hero Image', 'hero.jpg', false)
            tr
              td
                block content
                  p Stamp Content
            tr
              td
                block footer
                  p Stamp Footer

