//- ================
//- Variables pertaining to all pages within this template
//- ================

- var title = "Template Title"

- var templateAssetUrl = "../../"
- var templateImageUrl = "images/"
- var templateStylesUrl = "css/"
