//- ================
//- Variables pertaining to all templates
//- ================

- var title = "Global Title"

- var globalSiteUrl = ""
- var globalAssetUrl = "../../../global/"

- var globalImageUrl = "images/"
- var globalStylesUrl = "css/"

