/* ================
  Desktop
================ */

@media (min-width: 600px) {

  /* Display Tools */

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

}


/* ================
  Mobile
================ */

@media (max-width: 599px) {

  /* Display Tools */

  .show-mobile {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

}
