//- ================
//- Page Level
//- ================

extends ../../jade/template.jade

block page-variables
  - title = "Page Title"

//- block header

//- block hero

//- block content

//- block footer
