//- ================
//- Variables pertaining to all pages within this template
//- ================

- title = "Template Title"

- var templateSiteUrl = ""
- var templateAssetUrl = "../../"

- var templateImageUrl = "images/"
- var templateStylesUrl = "css/"
