//- ================
//- Page Level
//- ================

extends ../../jade/template.jade

//- block page-variables

//- block page-styles

//- block header

//- block hero

//- block content

//- block footer
